pianobar:
  matt:
    config:
      user: email@address.com
      password: pandora-password
      fifo: /home/matt/.config/pianobar/ctl
      event_command: /home/matt/.i3/scripts/pianobar-song-i3.sh
