# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'pianobar/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('pianobar:lookup'))
%}
{% do default_settings.pianobar.update(os_family_map) %}

{% set pianobar = salt['pillar.get'](
        'pianobar',
        default=default_settings.pianobar,
        merge=True
    )
%}
